<ion-header>
  <ion-toolbar>
    <ion-title>Flashcards</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="shuffleFlashcards()">Shuffle</ion-button>
      <ion-button (click)="openFlashcardForm()">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flashcard-container">
    <div
      class="card"
      *ngFor="let flashcard of flashcards; let i = index"
      [class.flipped]="flashcard.isFlipped"
      [style.transform]="getCardTransform(i)"
      (click)="toggleFlip(flashcard)"
    >
      <div class="front" *ngIf="!flashcard.isFlipped">
        <h2>{{ flashcard.question }}</h2>
      </div>

      <div class="back" *ngIf="flashcard.isFlipped">
        <p>{{ flashcard.answer }}</p>
      </div>
    </div>
  </div>
</ion-content>
